In [1]:
import pandas as pd
import numpy as py

In [2]:
docs = pd.read_csv("docs.csv",sep='|',header = None)
terms = pd.read_csv("terms.csv",sep='|',header = None)
dicts = pd.read_csv("dict.csv",sep='|',header = None)

In [2]:
dicts = pd.read_csv("dict.csv",sep='|',header = None)

In [3]:
dicts.head()

   0       1      2
0  0       0  10826
1  1     0,0      2
2  2   0,000      4
3  3  0,0209      1
4  4     0,1      1

In [6]:
dicts[dicts[1]== 'car']

             0    1      2
436413  436413  car  29138

In [5]:
docs.drop([3],axis=1,inplace=True)

In [6]:
print(docs .shape)
print(terms.shape)
print(dicts.shape)

(528030, 3)
(99446587, 3)
(923436, 3)

In [7]:
docs.to_csv("docs_modified.csv",sep='|',index=False, header=None)